.head {
  position: relative;
  min-height: 165px;
}

.card {
  background: white;
  border-radius: 19px;
  box-shadow: 18px 18px 36px rgba(211, 209, 216, 0.25);
  width: 323px;
}

.footer {
  padding: 12px;
}
